<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand logo -->
    <a class="navbar-brand mb-0 h1" href="#">GarminEventTracker</a>

    <!-- Links -->
    <div class="nav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a [routerLink]="['']" [ngClass]="getRoute() === 'home' ? 'nav-link active' : 'nav-link'">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/events']" [ngClass]="getRoute() === 'events' ? 'nav-link active' : 'nav-link'">All Events</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/events/create']" [ngClass]="getRoute() === 'create' ? 'nav-link active' : 'nav-link'">Create Event</a>
        </li>
      </ul>
    </div>
    <!-- Text, aligned right -->
    <span class="navbar-text">
      Created by Nathan Smith for Skill Distillery SD32<br>
      <a href="https://github.com/nathansmithpiano/EventTrackerProject">View on Github </a>
    </span>
  </nav>
</div>
