
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">

  <footer class="mt-auto bg-light text-center">
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Created by Nathan Smith for Skill Distillery Cohort 32.<br>
    <a class="text-dark" target="_blank" href="https://github.com/nathansmithpiano/EventTrackerProject">View this project on Github</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
