
<div *ngIf="isLoading">
  <h1>LOADING</h1>
</div>

<div *ngIf="!isLoading">
  <p>{{ events.length }} events found</p>
  <!-- Data Table -->
  <table id="events-table" datatable class="table row-border hover">
    <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Title</th>
        <th>Distance</th>
        <th>Calories</th>
        <th>Time</th>
        <th>Ascent</th>
        <th>Descent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events" (click)="show(event.id)">
        <td>{{event.type}}</td>
        <td>{{event.date | date: 'short' }}</td>
        <td>{{event.title}}</td>
        <td>{{event.distance}}</td>
        <td>{{event.calories}}</td>
        <td>{{event.time}}</td>
        <td>{{event.ascent}}</td>
        <td>{{event.descent}}</td>
      </tr>
    </tbody>
  </table>
</div>
