<!-- Hide entire container if loading -->
<div *ngIf="!isLoading" class="container">

  <!-- View Event -->
  <div class="card">
    <!-- Header -->
    <div class="card-header">
      <h6 *ngIf="this.mode != 'create'" class="card-title">{{event.title}} on {{eventDate}} (id {{event.id}})</h6>
      <h6 *ngIf="this.mode === 'create'" class="card-title">Create a New Event</h6>
    </div>

    <!-- Card Body -->
    <div class="card-body">

      <!-- Row 1 -->
      <div class="input-group mb-1">
        <span class="input-group-text">Date</span>
        <input type="date" class="form-control" [(ngModel)]="eventDate" [disabled]="disabled" />
        <div id="dateValidation" class="invalid-feedback">
          Date is required
        </div>
        <span class="input-group-text">Time of Day</span>
        <input type="text" class="form-control" [(ngModel)]="timeOfDay" [disabled]="disabled" />
        <span class="input-group-text">Time</span>
        <input type="text" class="form-control" [(ngModel)]="event.time" [disabled]="disabled" required>
      </div>
      <!-- Row 2 -->
      <div class="input-group mb-1">
        <span class="input-group-text">Type</span>
        <input type="text" class="form-control" [(ngModel)]="event.type" [disabled]="disabled" required>
        <span class="input-group-text">Title</span>
        <input type="text" class="form-control" [(ngModel)]="event.title" [disabled]="disabled" required>
      </div>
      <!-- Row 3 -->
      <div class="input-group mb-1">
        <span class="input-group-text">Moving Time</span>
        <input type="text" class="form-control" [(ngModel)]="event.timeMoving" [disabled]="disabled">
        <span class="input-group-text">Elapsed Time</span>
        <input type="text" class="form-control" [(ngModel)]="event.timeElapsed" [disabled]="disabled">
        <span class="input-group-text">Average Pace</span>
        <input type="text" class="form-control" [(ngModel)]="event.paceAvg" [disabled]="disabled">
      </div>
      <!-- Row 4 -->
      <div class="input-group mb-1">
        <span class="input-group-text">Distance (mi)</span>
        <input type="number" step=".01" class="form-control" [(ngModel)]="event.distance" [disabled]="disabled">
        <span class="input-group-text">Calories</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.calories" [disabled]="disabled">
        <span class="input-group-text">Average HR</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.hrAvg" [disabled]="disabled">
        <span class="input-group-text">Max HR</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.hrMax" [disabled]="disabled">
      </div>
      <!-- Row 5 -->
      <div class="input-group mb-1">
        <span class="input-group-text">Ascent</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.ascent" [disabled]="disabled">
        <span class="input-group-text">Descent</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.descent" [disabled]="disabled">
        <span class="input-group-text">Elevation (min)</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.elevationMin" [disabled]="disabled">
        <span class="input-group-text">Elevation (max)</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.elevationMax" [disabled]="disabled">
      </div>
      <!-- Row 6 -->
      <div class="input-group mb-1">
        <span class="input-group-text">Aerobic TE</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.aerobicTe" [disabled]="disabled">
        <span class="input-group-text">Run Cadence (avg)</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.runCadenceAvg" [disabled]="disabled">
        <span class="input-group-text">Run Cadence (max)</span>
        <input type="number" step="1" class="form-control" [(ngModel)]="event.runCadenceMax" [disabled]="disabled">
      </div>
      <!-- Buttons -->
      <div class="btn-group" role="group" aria-label="yay buttons">
        <!-- Create button if in create mode (not currently editing) -->
        <button type="button" *ngIf="mode === 'create'" (click)="create()" class="btn btn-primary">Create New Event</button>

         <!-- Edit button if disabled (not currently editing) -->
        <button type="button" *ngIf="mode === 'view'" (click)="beginEdit()" class="btn btn-primary">Edit</button>

        <!-- Update button and reset button if editing -->
        <button *ngIf="mode === 'edit'" (click)="update()" type="submit" class="btn btn-primary">Update</button>
        <button *ngIf="mode === 'edit'" (click)="updateReset()" type="button" class="btn btn-secondary">Reset</button>

        <!-- Delete button before confirming in edit/update modes but not create -->
        <button *ngIf="mode != 'delete' && mode != 'create'" (click)="mode = 'delete'" type="button" class="btn btn-danger">Delete</button>

        <!-- Confirm delete button only after hitting delete once -->
        <button *ngIf="mode === 'delete'" (click)="delete()" type="button" class="btn btn-danger">Are you sure? Delete cannot be undone</button>
      </div>

      <!-- Validation Messages -->
      <div *ngIf="mode != 'view' && invalid" class="alert alert-danger" role="alert">
        <ul>
          <li *ngFor="let message of validationMessages">{{message.toString()}}</li>
        </ul>
      </div>

    </div> <!-- End card body -->
  </div> <!-- End card -->

</div><!-- End container -->
