<div>
  <ul>
    <li>id: {{this.event?.id}}</li>
    <li>type: {{this.event?.type}}</li>
    <li>date: {{this.event?.date}}</li>
    <li>title: {{this.event?.title}}</li>
    <li>distance: {{this.event?.distance}}</li>
    <li>calories: {{this.event?.calories}}</li>
    <li>time: {{this.event?.time}}</li>
    <li>hrAvg: {{this.event?.hrAvg}}</li>
    <li>aerobicTe: {{this.event?.aerobicTe}}</li>
    <li>runCadenceAvg: {{this.event?.runCadenceAvg}}</li>
    <li>paceAvg: {{this.event?.paceAvg}}</li>
    <li>ascent: {{this.event?.ascent}}</li>
    <li>descent: {{this.event?.descent}}</li>
    <li>timeMoving: {{this.event?.timeMoving}}</li>
    <li>timeElapsed: {{this.event?.timeElapsed}}</li>
    <li>elevationMin: {{this.event?.elevationMin}}</li>
    <li>elevationMax: {{this.event?.elevationMax}}</li>
  </ul>
</div>
